# Rust artifacts
/Cargo.lock
/target/

# Node artifacts
/build/
/prebuilds/
/node_modules/

# Swift artifacts
/.build/

# Python artifacts
/.venv/
/dist/
*.egg-info
*.whl

# Zig artifacts
.zig-cache/
/zig-cache/
/zig-out/

# Go artifacts
/_obj/

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc
*.exp
*.lib

# Example dirs
/examples/*/

# Grammar volatiles
dsl.d.ts
*.wasm
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip
